<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer class="a2_footer">
      <section class="a2_footer-parent">
        <div class="a2_agency__info a2_flex">
          <h2 class="a2_footer__heading">RARA.AI</h2>
          <p class="a2_footer__para">
            Conveniently customizec web services Sontinually aggregate
            frictionle interfa without Globally without Globally.
          </p>
          <div>
            <ul class="a2_footer__list_parent">
              <li class="a2_footer__list_child">
                <a class="a2_link" href=""
                  ><span class="fab fa-facebook-f"></span
                ></a>
              </li>
              <li class="a2_footer__list_child">
                <a class="a2_link" href=""
                  ><span class="fab fa-twitter"></span
                ></a>
              </li>
              <li class="a2_footer__list_child">
                <a class="a2_link" href=""
                  ><span class="fab fa-instagram"></span
                ></a>
              </li>
              <li class="a2_footer__list_child">
                <a class="a2_link" href=""
                  ><span class="fab fa-linkedin-in"></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="a2_agency__contact-us a2_flex">
          <h2 class="a2_footer__heading">Contact Us</h2>
          <ul class="a2_footer__list_parent">
            <li class="a2_footer__list_vertical">
              <span class="fas fa-map-marker-alt"></span> Chitkara University,
              Rajpura
            </li>
            <li class="a2_footer__list_vertical">
              <span class="fas fa-phone"></span> +91-11-23019545 , 23016857
            </li>
            <li class="a2_footer__list_vertical">
              <span class="fas fa-envelope"></span> contact@raraai.com
            </li>
          </ul>
        </div>
        <div class="a2_agency__quick-links a2_flex">
          <h2 class="a2_footer__heading">Quick Link</h2>
          <ul class="a2_footer__list_parent">
            <li class="a2_footer__list_vertical">Home</li>
            <li class="a2_footer__list_vertical">Pages</li>
            <li class="a2_footer__list_vertical">Portfolio</li>
            <li class="a2_footer__list_vertical">Blog</li>
          </ul>
        </div>
        <div class="a2_agency__newsletter a2_flex">
          <h2 class="a2_footer__heading">NewsLetter</h2>
          <input
            class="a2_footer_newsletter"
            type="email"
            placeholder="Enter Email Address"
          />
          <br />
          <button class="a2_footer__button">Subscribe</button>
        </div>
      </section>
      <div class="a2_footer_bottom">
        <p>© 2023 <span class="a2_footer_bottom_purple">Rara.AI</span></p>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/1424603ff9.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
