@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.a1-contact {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.a1-contact-header {
  margin: 100px 0;
}

.a1-contact-header h1 {
  color: #1f202a;
  font-size: 36px;
  font-weight: 600;
}

.a1-contact-header span {
  color: #5146ae;
  font-size: 1rem;
  font-weight: 500;
}

.a1-contact-header p {
  color: #716c80;
  font-weight: 500;
}
