<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonial</title>
    <link rel="stylesheet" href="testimonial.css" />
  </head>
  <body>
    <div class="a1-testimonial">
      <div class="a1-content">
        <p>What Client Say</p>
        <h3>Check Testimonials For Our Satisfied Clients</h3>
        <p>
          Conveniently customize proactive web services interfaces without
          Globally Continually aggregate frictionle interc aithout alobally
          wellies richard.
        </p>
      </div>
      <div class="a1-slider">
        <div class="a1-card">
          <div class="a1-client">
            <img src="./01.png" alt="client1" />
            <p>Ashu Sharma</p>
          <p>
            Conveniently customize proactive web services interfaces without Globally.
          </p>

        </div>
        <div class="a1-card">
            <div class="a1-client">
              <img src="./02.png" alt="client1" />
              <p>Preeti Verma</p>
            <p>
              Conveniently customize proactive web services interfaces without Globally.
            </p>
  
          </div>
          <div class="a1-card">
            <div class="a1-client">
              <img src="./03.png" alt="client1" />
              <p>Rahul Kumar</p>
            <p>
              Conveniently customize proactive web services interfaces without Globally.
            </p>
  
          </div>
        <div style="text-align:center">
            <span class="a1-dot" id="a1"></span>
            <span class="a1-dot" id="a2"></span>
            <span class="a1-dot" id="a3"></span>
          </div>
      </div>
      <script src="testimonial.js"></script>
    </div>
  </body>
</html>
